{% extends 'base.html' %}
{% block myblock %}

        <!-- Testimonial Start -->
            <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Booked Information</h5>
                </div>

                <div class="row g-4">
                            {% for booking_info in booking_infos %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <h5 class="mb-0">Name = {{ booking_info.name }}</h5>
                            <h5 class="mb-0">Email = {{ booking_info.email }}</h5>
                            <h5 class="mb-0">Date time = {{ booking_info.datetime }}</h5>
                            <h5 class="mb-0">No of people = {{ booking_info.no_of_people }}</h5>
                            <h5 class="mb-0">Special request = {{ booking_info.special_request }}</h5>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Contact Start -->
            <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Queries</h5>
                </div>

                <div class="row g-4">
                            {% for contact in contacts %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <h5 class="mb-0">Name = {{ contact.name }}</h5>
                            <h5 class="mb-0">Email = {{ contact.email }}</h5>
                            <h5 class="mb-0">Date time = {{ contact.subject }}</h5>
                            <h5 class="mb-0">No of people = {{ contact.message }}</h5>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>
        <!-- Contact End -->
{% endblock %}

